<footer>
    <div class="footer-logo">
        <img src="/images/logo.svg" alt="">
        <div class="social-links">
            <img src="/images/icon-facebook.svg" alt="">
            <img src="/images/icon-twitter.svg" alt="">
            <img src="/images/icon-pinterest.svg" alt="">
            <img src="/images/icon-instagram.svg" alt="">
        </div>
    </div>
    <div class="footer-links">
        <div class="">
            <p>Our company</p>
            <ul>
                <li>How we work</li>
                <li>Why Insure?</li>
                <li>View plans</li>
                <li>Reviews</li>
            </ul>
        </div>
        <div class="">
            <p>Help me</p>
            <ul>
                <li>FAQ</li>
                <li>Terms of use</li>
                <li>Privacy policy</li>
                <li>Cookies</li>
            </ul>
        </div>
        <div class="">
            <p>Contact</p>
            <ul>
                <li>Sales</li>
                <li>Support</li>
                <li>Live chat</li>
            </ul>
        </div>
        <div class="">
            <p>Others</p>
            <ul>
                <li>Careers</li>
                <li>Press</li>
                <li>Licenses</li>
            </ul>
        </div>
    </div>
    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io/challenges/insure-landing-page-uTU68JV8/" target="_blank">Frontend Mentor</a>
        coded by <a href="www.github.com/Mofe620">Mofe620</a>.
        </div>
</footer>