<header>
    <nav>
        <a href="/"><img src="/images/logo.svg" class="logo" alt=""></a>
        <ul>
            <a href=""><li>How we work</li></a>
            <a href="/blog/"><li>Blog</li></a>
            <a href=""><li>Account</li></a>
            <a href=""><button id="cta-btn">View plans</button></a>
        </ul>
        <span id="nav-toggle"></span>
    </nav>
</header>