---
title: Blog | Insure
layout: 'base.njk'
---
<div class="blog_container">
    <main class="blog_section">
        <h1>Recent Blog Posts</h1>
        <div class="blogpost-list">
            {%- for post in collections.post | reverse -%}
                <div class="blogpost-item">
                    <div class="blogpost_meta">
                        <h4>{{ post.data.title }}</h4>
                        <span>{{ post.data.author }} on {{ post.data.date | postDate }}</span>
                        <p>{{ post.data.description }}</p>
                        <a href="{{ post.url }}">Read more</a>
                    </div>
                    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                </div>
            {%- endfor -%}
            <a href="/">Go back to Home</a>
        </div>
    </main>  
    <aside class="sidebar">
        <h2>Subscribe to our weekly Newsletter</h2>
        <input type="email" name="email" id="" placeholder="youremail@domain.com">
        <button>Sign me up</button>
    </aside>
</div>
